@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary{
        @apply py-2 px-4 rounded-md bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500;
    }


    .icon-teal{
        font-size: 2em;
        color: #38bdf8;
    }

    .right-border-icon{
        transition: border-color 0.3s;
    }
    	
    .right-border-icon-focua{
        border-color:white;
    }
    
    .background-svg{
        background-image: url('../img/wave.svg');
        
        background-repeat: no-repeat; 
    }

    .background-svg-bottom{
        background-image: url('../img/wave-bottom.svg');
        background-size: cover;
        background-repeat: no-repeat; 
    }


    .icon-insider i{
        position:absolute;
    }

}