@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary{
        @apply py-2 px-4 rounded-md bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500;
    }


    .icon-teal{
        font-size: 2em;
        color: #38bdf8;
    }

    .right-border-icon{
        transition: border-color 0.3s;
    }
    	
    .right-border-icon-focua{
        border-color:white;
    }
    
    .background-svg{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1089%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(4%2c 34%2c 83%2c 0.13)'%3e%3c/rect%3e%3cpath d='M0%2c461.642C85.064%2c455.38%2c164.248%2c408.673%2c222.748%2c346.602C274.804%2c291.369%2c282.134%2c211.538%2c304.168%2c138.909C323.146%2c76.354%2c351.643%2c15.481%2c342.853%2c-49.295C334.027%2c-114.34%2c292.882%2c-167.401%2c255.301%2c-221.22C213.547%2c-281.015%2c175.177%2c-344.476%2c111.682%2c-380.353C38.46%2c-421.726%2c-48.838%2c-464.663%2c-128.658%2c-438.17C-208.398%2c-411.704%2c-246.831%2c-322.299%2c-286.45%2c-248.21C-319.509%2c-186.388%2c-328.34%2c-118.024%2c-337.052%2c-48.461C-345.604%2c19.823%2c-351.238%2c86.525%2c-336.797%2c153.81C-319.297%2c235.345%2c-306.426%2c324.768%2c-244.872%2c381.029C-180.13%2c440.203%2c-87.473%2c468.082%2c0%2c461.642' fill='rgba(3%2c 22%2c 54%2c 0.13)'%3e%3c/path%3e%3cpath d='M1440 991.461C1518.427 972.727 1546.653 875.067 1613.569 830.078 1678.348 786.525 1773.615 795.654 1822.16 734.527 1873.789 669.517 1887.679 579.474 1878.077 497.014 1868.344 413.433 1825.212 337.524 1768.673 275.203 1712.971 213.805 1639.554 174.35899999999998 1561.088 147.611 1479.874 119.92700000000002 1388.448 83.12200000000001 1310.518 119.02600000000001 1233.138 154.676 1210.896 251.73899999999998 1171.317 327.185 1140.291 386.327 1118.078 446.372 1104.49 511.761 1090.04 581.295 1073.26 650.888 1089.69 719.981 1108.355 798.473 1139.704 878.617 1203.476 928.039 1269.33 979.0740000000001 1358.966 1010.818 1440 991.461' fill='rgba(5%2c 46%2c 112%2c 0.13)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1089'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }

}