body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.makepicWhite{
    filter: brightness(0) invert(1);
}

.quotes{
    font-weight: bold;
}

.writer-quotes{
    font-style: italic;
}
